/* User changable variables */
* {
    --tab-font-size: 1em;
    /* Font size of the tab labels */
    --tab-font-family: monospace;
    /* The font used for the tab labels */
    --max-tab-width: none;
    /* The maximum width a tab in the tab bar can use. Set this to none for no limit */
    --show-titlebar-buttons: none;
    /* Hide the buttons (close/minimize/maximize) in the title bar. Required on some platforms (e.g macOS) to fully hide the title bar. `none` hides them, `block` shows them */
    --tab-height: 1.25em;
    /* Tab height */

    /* Black theme colors */
    --background-color: #111;
    /* Background color */
    --toolbar-bgcolor: #333;
    /* Toolbar background color */
    --toolbarbutton-hover-background: #555;
    /* Toolbar button hover background color */
}

#navigator-toolbox {
    padding-bottom: 2px;
    /* Set this to 0px or remove the line */
}

#TabsToolbar {
    border-top: 1px solid #fff;
    /* Set this to 'none' or remove the line */
}
/* Minima Source Code. Here be dragons. */
/* Only change this if you know what you're doing */

.titlebar-buttonbox-container {
    display: var(--show-titlebar-buttons);
}

:root:not([customizing]) #TabsToolbar {
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-radius: 0 !important;
    padding: 0 !important;
    padding-inline-start: 0 !important;
}

.tabbrowser-tab * {
    margin: 0 !important;
    border-radius: 0 !important;
    font-family: var(--tab-font-family) !important;
}

.tabbrowser-tab {
    height: var(--tab-height);
    font-size: var(--tab-font-size) !important;
    min-height: 0 !important;
    align-items: center !important;
}

#firefox-view-button,
#scrollbutton-up,
.tab-secondary-label {
    display: none !important;
}

.tab-icon-image {
    height: auto !important;
    width: calc(var(--tab-height) / 1.5) !important;
    margin-right: 0.25em !important;
}

#tabs-newtab-button,
#titlebar spacer {
    display: none !important;
}

:root:not([customizing]) #nav-bar {
    min-height: var(--tab-height) !important;
    /* Set min-height to match the tab height */
    height: var(--tab-height) !important;
    /* Set height to match the tab height */
    margin: 0 !important;
    z-index: 0 !important;
    /* Ensure the navbar is always visible */
    opacity: 1 !important;
    /* Ensure the navbar is always visible */
}

:root:not([customizing]) #nav-bar:focus-within {
    z-index: 1 !important;
}

#nav-bar {
    border-inline: 0.125em solid var(--toolbar-bgcolor);
}

#new-tab-button,
#alltabs-button,
#scrollbutton-down,
.tab-loading-burst {
    display: none;
}

#titlebar {
    overflow: none !important;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_with_one_tab.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes tabs toolbar items zero-height initially and sets enlarge them to fill up space equal to tab-min-height set on tabs. Optionally use privatemode_indicator_as_menu_button.css to replace main menu icon with private browsing indicator while tabs are hidden. */
/* Firefox 65+ only */

:root[sizemode="normal"] #nav-bar {
    --uc-window-drag-space-width: 0.125em;
}

#titlebar {
    -moz-appearance: none !important;
}

#TabsToolbar {
    min-height: 0em !important;
}

#tabbrowser-tabs,
#tabbrowser-tabs>.tabbrowser-arrowscrollbox,
#tabbrowser-arrowscrollbox {
    min-height: var(--tab-height) !important;
    /* Set min-height to match the tab height */
    visibility: visible !important;
    /* Ensure that the tab bar is always visible */
}

:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button,
:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #TabsToolbar-customization-target>.toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button {
    -moz-appearance: none !important;
    height: 0em;
    padding-top: 0em !important;
    padding-bottom: 0em !important;
    -moz-box-align: stretch;
    margin: 0 !important;
}

.accessibility-indicator,
.private-browsing-indicator {
    height: unset !important;
}

.accessibility-indicator>hbox {
    padding-block: 0 !important;
}

#tabbrowser-tabs tab:only-of-type {
    visibility: visible !important;
    /* Ensure that the tab is always visible */
}

/* Button re-styling */
#tabs-newtab-button:hover,
#tabbrowser-tabs .tabs-newtab-button:hover {
    background-color: var(--toolbarbutton-hover-background);
}

#tabs-newtab-button>.toolbarbutton-icon,
#tabbrowser-tabs .tabs-newtab-button>.toolbarbutton-icon {
    padding: 0 !important;
    transform: scale(0.6);
    background-color: var(--background-color) !important;
}

@media (-moz-os-version: windows-win10) {
    :root[sizemode="maximized"] #navigator-toolbox {
        padding-top: calc(0.3333em) !important;
    }
}

#navigator-toolbox {
    background-color: var(--background-color) !important;
}

#nav-bar {
    background-color: var(--background-color) !important;
}

.tabbrowser-tab:first-child {
    margin-left: -1px;
    /* Ensures the first tab has no left margin */
}

.tab-close-button {
    margin-right: 0.0625em;
    margin-top: 0.0625em;
}