window.bar {
  color: @theme_fg_color;
}

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

button:active {
  background-color: @theme_selected_bg_color;
}

button:hover {
  border-bottom: 3px solid @theme_fg_color;
}

label {
  font-weight: bold;
}

.workspaces button.focused {
  border: 1px solid @theme_selected_bg_color;
}

.client-title {
  color: @theme_selected_bg_color;
}

.notification {
  color: yellow;
}

progress,
highlight {
  min-height: 0px;
}
