/* uncomment if you do have pywal configured */
/* @import url("/home/USER/.cache/wal/colors-widgets.css"); */

:vars {
  --background: transparent;
  --foreground: #ffffff;
}

* {
  /* unsets everything so we can style everything from scratch. */
  all: unset;
  font-family: monospace;
  font-size: 1em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin: 0px; /* Set margin to 0 */
  padding: 0px; /* Set padding to 0 */
  /* we can use webcss variables, fabric compiles that to gtk css. */
}

#main-window {
  color: var(--background);
}

button {
  /* removed border-radius */
  background-size: 400% 400%;
}

#workspaces {
  margin: 0px; /* Set margin to 0 */
  padding: 0px; /* Set padding to 0 */
  color: var(--background);
}

#workspaces>button {
  padding: 0px 1px;
  /* transition: min-width 0.15s cubic-bezier(0.2, 0.0, 0, 1.0); */
  transition: min-width 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: var(--foreground);
}



#workspaces>button.active {
  min-width: 24px;
  color: var(--foreground);
}

#workspaces>button.empty {
  color: alpha(var(--foreground),0.6);
}

#workspaces>button.urgent {
  color: red;
}

#workspaces>button:hover {
  color: var(--foreground);
}

#date-time,
#hyprland-language,
#hyprland-window {
  color: var(--foreground);
  padding: 0px 1px;
  margin: 0px; /* Set margin to 0 */
}

#center-box {
  margin: 1px;
}

/* system tray */

#system-tray {
  margin: 0px; /* Set margin to 0 */
  padding: 0px 4px;
  color: var(--background);
}

#system-tray>button {
  padding: 0px 4px;
  margin: 0px; /* Set margin to 0 */
}

/* menu and menu items (written for the system tray) */

menu {
  border: solid 2px;
  border-color: var(--foreground);
}

menu>menuitem {
  color: alpha(var(--foreground),0.6);
  padding: 6px;
  margin-left: 2px;
  margin-right: 2px;
}

menu>menuitem:first-child {
  margin-top: 1.5px;
}

menu>menuitem:last-child {
  margin-bottom: 1.5px;
}

menu>menuitem:hover {
  color: var(--foreground);
}

#widgets-container {
  border-radius: 100px;
  color: var(--background);
  padding: 0px; /* Set padding to 0 */
  margin: 0px; /* Set margin to 0 */
}