:root {
	--universal-size-value: 25px;
	--universal-colour: black;
	--universal-font-family: monospace;
	--universal-font-size: calc(var(--universal-size-value) * 0.8);
}

.tabbrowser-tab *,
#nav-bar {
	margin: 0 !important;
	border-radius: 0 !important;
	font-family: var(--universal-font-family) !important;
	font-size: var(--universal-font-size) !important;
}

#TabsToolbar,
#nav-bar,
.tabbrowser-tab {
	height: var(--universal-size-value) !important;
}

.tabbrowser-tab {
	min-height: 0 !important;
	align-items: center !important;
}

#TabsToolbar,
#nav-bar {
	background: var(--universal-colour) !important;
}

#TabsToolbar {
	margin-left: calc(var(--universal-size-value) * 30) !important;
	padding: 0 !important;
}

#nav-bar {
	margin-top: calc(-1 * var(--universal-size-value)) !important;
	max-width: calc(var(--universal-size-value) * 30) !important;
}
